<app-header headerName="Adicionar Familiar"></app-header>

<!-- search-bar -->
<ion-toolbar>
  <ion-searchbar placeholder="Nome do familiar"
                  [(ngModel)]="queryText" 
                  (ionInput)="listarUsuario($event)"
                  clearInput>
  </ion-searchbar>
</ion-toolbar>
<!-- /.search-bar -->

<ion-content>
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let user of usuario">

    <ion-item >
      <p>
        <ion-icon name="person-outline"></ion-icon>&nbsp;
        {{ user.nome }}
      </p>
    </ion-item>
    <ion-item>
      <p>
        <ion-icon name="mail-outline"></ion-icon>&nbsp;
        {{ user.email }}
      </p>
    </ion-item>
  </ion-list>

  <!-- <ion-progress-bar type="indeterminate"></ion-progress-bar> -->

  <br />

  <!-- <app-lista-contribuintes [modal]="false" emptyMovimentosMessage="Nenhum familiar encontrado"></app-lista-contribuintes> -->

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Carregando..">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <!-- <ion-button *ngIf="!isFiltroRapidoAtivo && hasMovimentos()" color="" size="default" expand="full" (click)="carregarMais()">
    Carregar mais
  </ion-button> -->

  <!-- add-fab-button -->

</ion-content>

