<ion-list>
  <ion-item *ngFor="let movto of movimentos">
    <ion-label (click)="openOptionsDialog(movto)">
      <h2>{{movto.descricao}}</h2>
      <p>
        <ion-icon name="calendar"></ion-icon>&nbsp;
        {{movto.dataContabilizacao}}
      </p>
      <p *ngIf="hasCategoria(movto)">
        <ion-icon name="cash-outline"></ion-icon>&nbsp;
        {{movto.valor}}
      </p>

      <p *ngIf="hasCartaoCredito(movto)">
        <ion-icon name="card"></ion-icon>&nbsp;
        {{movto.status}}
      </p>
    </ion-label>

    <ion-chip *ngIf="isCredito(movto); else movtoDebito" (click)="alterarValor(movto)" [outline]="!isEfetivado(movto)" color="success">
      <ion-label>{{movto.valorTotal | number: '1.2-2'}}</ion-label>
    </ion-chip>

    <ng-template #movtoDebito>
      <ion-chip color="primary" (click)="alterarValor(movto)" [outline]="!isEfetivado(movto)">
        <ion-icon name="brush-outline">Editar valor</ion-icon>
        <ion-label>{{movto.valorTotal | number: '1.2-2'}}</ion-label>
      </ion-chip>
    </ng-template>
  </ion-item>
</ion-list>